.banner {
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/img5.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 154rem;
    background-position-x: -518rem;
    @media screen and (max-width: 800px){
        height: 25rem;
        width: 100%;
        background-position-y: 158rem;
        background-position-x: -545.5rem;
    }
    @media screen and (max-width: 500px){
        height: 25rem;
        width: 31rem;
        background-position-y: 158rem;
        background-position-x: -555.5rem;
    }
    @media screen and (max-width: 414px){
        width: 100%;
        background-position-y: 158rem;
        background-position-x: -558rem;
    }
  }

.banner2 {
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/banner2.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 124rem;
    background-position-x: -135.5rem;
    @media screen and (max-width: 800px){
        height: 25rem;
        width: 100%;
        background-position-y: 127.5rem;
        background-position-x: -538rem;
    }
    @media screen and (max-width: 500px){
        height: 25rem;
        width: 31rem;
        background-position-y: 128rem;
        background-position-x: -547.5rem;
    }
    @media screen and (max-width: 414px){
        width: 100%;
        background-position-y: 128rem;
        background-position-x: -550rem;
    }
}

.banner3{
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/banner4.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 125.5rem;
    background-position-x: -73.3rem;
    @media screen and (max-width: 800px){
        height: 25rem;
        width: 100%;
        background-position-y: 129.2rem;
        background-position-x: -389rem;
    }
    @media screen and (max-width: 500px){
        height: 25rem;
        width: 31rem;
        background-position-y: 129rem;
        background-position-x: -110.5rem;
    }
    @media screen and (max-width: 414px){
        width: 100%;
        background-position-y: 129rem;
        background-position-x: -112.9rem;
    }
}

  h1{
    font-family: 'Roboto', sans-serif;
      font-size: 2.8rem;
      color: #F9F5F9;
    //   text-shadow: 2px 2px #84977D;
      text-align: center;
      line-height: 16.5rem;
      @media screen and (max-width: 800px){
        line-height: 24rem;
    }
      @media screen and (max-width: 500px){
        line-height: 24rem;
    }
      
  }