.banner {
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/img5.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 154rem;
    background-position-x: -511rem;
  }
.banner2 {
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/banner2.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 124rem;
    background-position-x: -128rem;
}

.banner3{
    border-radius: 25px;
    width: 100%;
    background-image: url("/img/banner4.jpg");
    height: 275px;
    background-position: center center;
    background-position-y: 125.5rem;
    background-position-x: -66rem;
}

  h1{
      font-size: 3rem;
      color: snow;
      text-shadow: 3px 3px grey;
      text-align: center;
      line-height: 16.5rem;
  }