.main-content-container{

}


.header-content{
    margin-right: 10%;
    margin-left: 10%;
}
.middle-content{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    @media screen and (max-width: 500px){
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 500px;
        margin: none;
        padding: 0;
    }
}
.middle-items{
    text-align: center;
}
.middle-images{
    height: 40rem;
    width: 40rem;
    border-radius: 25px;
    @media screen and (max-width: 500px){
        width: 25rem;
        height: 25rem;
    
    }   

}


h2{
    padding-top: 2rem;
    font-size: 60px;
    text-align: center;
}
h3{
    text-align: center;
    padding-top: 2rem;
    font-size: 2.5rem;
}
p{
    text-align: center;
    padding-top: 2rem;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}


.list-container{
    display: flex;
    justify-content: space-evenly;
}

ul {
    padding-top: 2rem;
    text-align: center;
    column-count: 4;
    list-style-type: none;

    li {

        // text-align: center;
        // display: inline-block;
        width: 100%;
        text-decoration: none;
    }
    
    
    a {
        padding: 3rem;
        font-size: 2rem;
        text-decoration: none;
    }
    img {
        width: 80px;
        border-radius: 50%;
      }
  }

