
.nav-container{
    padding-top: 20px;
    padding-bottom: 20px;
.menu {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: center;
    a{
        color: grey;
        font-size: 1.5rem;
        clear: right;
        text-decoration: none;
        margin: 0 20px;
        &:hover{
            color: black;
            text-shadow: 1px 1px grey;
        }

        }
    }
}